<mat-card class="mat-elevation-z4" id="{{release.name}}">

  <mat-card-header>

    <mat-card-title>
      {{release.name}}
    </mat-card-title>

    <mat-card-subtitle>

      <br>

      <mat-card-subtitle 
        matTooltip="The start data set in Jira"
        [ngClass]="'startDate'" mat-line>
        {{ (release.startDate | date: 'mediumDate') || "no start date" }}
      </mat-card-subtitle>

      <mat-card-subtitle 
        matTooltip="The release data set in Jira"
        [ngClass]="'releaseDate'" mat-line>
        {{ (release.releaseDate | date: 'mediumDate') || "no realese date" }}
      </mat-card-subtitle>

    </mat-card-subtitle>

    <mat-card-subtitle *ngIf="releaseStats$ | async as stats">

      <br>

      <mat-card-subtitle 
        matTooltip="Done days"
        [ngClass]="'days'" *ngIf="!release.released">
        {{ days() || "?" }} of {{ days(true) || "?" }} days
      </mat-card-subtitle>

      <mat-card-subtitle [ngClass]="'days'" *ngIf="release.released">
        {{ days(true) }} days
      </mat-card-subtitle>

      <mat-card-subtitle 
        matTooltip="Done features"
        [ngClass]="'of-features'" *ngIf="!release.released; else releasedFeatures">
        {{ stats.done_features }} of {{ stats.features }} fs.
      </mat-card-subtitle>

      <ng-template #releasedFeatures>
        <mat-card-subtitle 
          matTooltip="Done features"
          [ngClass]="'features'">
          {{ stats.features }} fs.
        </mat-card-subtitle>
      </ng-template>

      <mat-card-subtitle 
        matTooltip="Done points"
        [ngClass]="'of-points'" *ngIf="!release.released;else releasedPoints">
        {{ stats.done_points}} of
        {{ stats.points}} ps.
      </mat-card-subtitle>

      <ng-template #releasedPoints>
        <mat-card-subtitle 
        matTooltip="Done points"
        [ngClass]="'points'">
          {{ stats.points }} ps.
        </mat-card-subtitle>
      </ng-template>

      <mat-card-subtitle *ngIf="!release.released">

        <br>

        <mat-card-subtitle 
           matTooltip="Features to be done"
           [ngClass]="'left-features'">
          {{ stats.features - stats.done_features }} fs.
        </mat-card-subtitle>

        <mat-card-subtitle 
           matTooltip="Points to be done"
          [ngClass]="'left-points'">
          {{ stats.points - stats.done_points }} ps.
        </mat-card-subtitle>

      </mat-card-subtitle>

      <mat-card-subtitle 
        matTooltip="The sprint velocity in the release"
        [ngClass]="'velocity'">
        {{ velocity(stats) || "?" }} ps./sprint"
      </mat-card-subtitle>

      <mat-card-subtitle *ngIf="!release.released">

        <br>

        <mat-card-subtitle 
          matTooltip="The predicted number of sprints left"
          [ngClass]="'left-sprints'">
          {{ prediction(stats) || "?" }} sprint(s)
        </mat-card-subtitle>

        <mat-card-subtitle 
          matTooltip="The predicted date of release">
          {{ (predicted_date(stats) | date: mediumDate) || "? eta"  }}
        </mat-card-subtitle>

      </mat-card-subtitle>

    </mat-card-subtitle>
  </mat-card-header>
</mat-card>