<mat-form-field>

    <input matInput 
    (keydown.enter)="applyFilter()" 
    placeholder="Search"
    [(ngModel)]="query">
    
    <button mat-button *ngIf="query" 
    matSuffix mat-icon-button aria-label="Clear" 
    (click)="query=''">
      <mat-icon>close</mat-icon>
    </button>
    
</mat-form-field>

<mat-progress-spinner *ngIf="(query$ | async) && !(query$ | async).done"
        color="primary"
        mode="indeterminate">
</mat-progress-spinner>

<mat-card *ngIf=
  "(query$ | async) && (query$ | async).done && ((query$ | async)?.stories.length == 0)">

    <mat-card-header>
      <mat-card-subtitle>
        Found nothing :( 
      </mat-card-subtitle>
    </mat-card-header>

</mat-card>

<app-story 
  [product]=product
  [story]=story
  *ngFor="let story of (query$ | async)?.stories">
</app-story>